<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://185.135.80.244:3306/gifts"/>
        <property name="username" value="baker"/>
        <property name="password" value="BazaBaker1"/>
    </bean>

    <bean id="giftCertificateDAO"
          class="dao.impl.GiftCertificateDAOImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="tagDAO"
          class="dao.impl.TagDAOImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

</beans>